<?xml version="1.0"?>
<!--TO GET THIS WORKING SEE: http://gunnarpeipman.com/2013/11/using-web-config-transforms-with-app-config-files/ -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <clientConfiguration>
    <serviceEndpoints>
      <add name="crm" baseAddress="http://127.0.0.1:19257/crm/" timeout="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="eventmanagement" baseAddress="http://127.0.0.1:19257/eventmanagement/" timeout="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="portfolio" baseAddress="http://127.0.0.1:19257/portfolio/" timeout="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </serviceEndpoints>
  </clientConfiguration>
</configuration>
