<?xml version="1.0"?>
<!--TO GET THIS WORKING SEE: http://gunnarpeipman.com/2013/11/using-web-config-transforms-with-app-config-files/ -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configBuilders="Env" xdt:Transform="Replace">
    <clear />
    <add name="read" connectionString="Server=host.docker.internal;User Id=dev;Password=dev;database=workflow;enlist=False;Application Name=microservice-workflow;" />
    <add name="write" connectionString="Server=host.docker.internal;User Id=dev;Password=dev;database=workflow;enlist=False;Application Name=microservice-workflow;" />
    <add name="afper" connectionString="Server=host.docker.internal;User Id=dev;Password=dev;database=afper;enlist=False;Application Name=microservice-workflow;" />
  </connectionStrings>
  <clientConfiguration>
    <serviceEndpoints>
      <add name="crm" baseAddress="http://host.docker.internal:40028" timeout="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="eventmanagement" baseAddress="http://host.docker.internal:40033" timeout="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="portfolio" baseAddress="http://host.docker.internal:40031" timeout="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="workflow" baseAddress="http://host.docker.internal:40008" timeout="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="author" baseAddress="http://host.docker.internal:40020" timeout="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="nio" baseAddress="http://host.docker.internal:10081/nio/rest/" timeout="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </serviceEndpoints>
  </clientConfiguration>
    <applicationSettings>
    <Microservice.Workflow.Properties.Settings>
        <setting name="BaseAddress" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
            <value>http://*:80</value>
        </setting>
        <setting name="AltBaseAddress" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
            <value>http://localhost:80</value>
        </setting>
    </Microservice.Workflow.Properties.Settings>
    <ResourceServerIdentityConfiguration IssuerName="https://idsrv3.com" SigningCertificateSubject="idsrv3test" IdentityServerBaseUrl="https://localhost:40011" />
  </applicationSettings>
</configuration>