<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK" xdt:Locator="Match(name)" xdt:Transform="Remove" />
  </configSections>
  <connectionStrings>
    <clear />
    <add name="read" connectionString="server=#{database.server.dns};database=workflow;User Id=#{database.user.id};Password=#{database.password};" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="write" connectionString="server=#{database.server.dns};database=workflow;User Id=#{database.user.id};Password=#{database.password};" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <clientConfiguration>
    <serviceEndpoints>
      <add name="crm" baseAddress="http://#{wiremock.server.dns}/crm/" timeout="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="eventmanagement" baseAddress="http://#{wiremock.server.dns}/eventmanagement/" timeout="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="portfolio" baseAddress="http://#{wiremock.server.dns}/portfolio/" timeout="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </serviceEndpoints>
  </clientConfiguration>
  <ResourceServerIdentityConfiguration IssuerName="https://idsrv3.com" SigningCertificateSubject="idsrv3test" IdentityServerBaseUrl="https://tst-04-identity.test.intelliflo.com" xdt:Transform="SetAttributes" />
  <aws xdt:Transform="Remove" />
  <applicationSettings>
    <Microservice.Workflow.Properties.Settings>
      <setting name="Environment" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>#{environment.name}</value>
      </setting>
      <setting name="Instance" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>#{stack.name}</value>
      </setting>
      <setting name="DatabaseObjectsFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>../database</value>
      </setting>
      <setting name="DataScriptFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>../database/Data</value>
      </setting>
      <setting name="BaseAddress" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://*</value>
      </setting>
      <setting name="AltBaseAddress" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://localhost</value>
      </setting>
    </Microservice.Workflow.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="db.timeout" value="30" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClientSettingsProvider.ServiceUri" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>