<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="Autofac.Configuration" version="3.3.0" targetFramework="net451" />
  <package id="Autofac.Extras.DynamicProxy2" version="3.0.5" targetFramework="net451" />
  <package id="Autofac.Mef" version="3.0.3" targetFramework="net451" />
  <package id="Autofac.Owin" version="3.1.0" targetFramework="net451" />
  <package id="Autofac.WebApi2" version="3.4.0" targetFramework="net451" />
  <package id="Autofac.WebApi2.Owin" version="3.2.0" targetFramework="net451" />
  <package id="AutoMapper" version="3.2.1" targetFramework="net451" />
  <package id="AWSSDK" version="2.3.55.0" targetFramework="net452" />
  <package id="Castle.Core" version="3.2.2" targetFramework="net451" />
  <package id="Common.Logging" version="3.1.0" targetFramework="net451" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net451" />
  <package id="Common.Logging.Log4Net1211" version="3.1.0" targetFramework="net451" />
  <package id="EnyimMemcached" version="2.13" targetFramework="net451" />
  <package id="Humanizer.Core" version="2.0.1" targetFramework="net452" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net451" />
  <package id="IntelliFlo.Platform" version="0.2.314" targetFramework="net452" />
  <package id="IntelliFlo.Platform.AutoMapper" version="0.2.314" targetFramework="net452" />
  <package id="IntelliFlo.Platform.Bus" version="0.2.314" targetFramework="net452" />
  <package id="IntelliFlo.Platform.Caching" version="0.2.314" targetFramework="net452" />
  <package id="IntelliFlo.Platform.Client" version="0.2.112" targetFramework="net451" />
  <package id="IntelliFlo.Platform.Client.OData" version="0.2.235" targetFramework="net451" />
  <package id="IntelliFlo.Platform.Database" version="0.2.314" targetFramework="net452" />
  <package id="IntelliFlo.Platform.Events" version="0.2.314" targetFramework="net452" />
  <package id="IntelliFlo.Platform.Http" version="0.2.314" targetFramework="net452" />
  <package id="IntelliFlo.Platform.Http.Documentation" version="0.2.411" targetFramework="net452" />
  <package id="IntelliFlo.Platform.Http.Documentation.Public" version="0.2.20" targetFramework="net452" />
  <package id="IntelliFlo.Platform.Logging" version="0.2.314" targetFramework="net452" />
  <package id="IntelliFlo.Platform.MicroService" version="0.2.221" targetFramework="net452" />
  <package id="IntelliFlo.Platform.NHibernate" version="0.2.314" targetFramework="net452" />
  <package id="IntelliFlo.Platform.Security" version="0.2.314" targetFramework="net452" />
  <package id="IntelliFlo.PowerShell.DevLib" version="0.0.3.0" targetFramework="net451" />
  <package id="JustSaying.Models" version="2.0.0.43" targetFramework="net451" />
  <package id="JustSayingIflo" version="1.0.80" targetFramework="net452" />
  <package id="log4net" version="3.0.0" targetFramework="net451" />
  <package id="Metrics.NET" version="0.2.16" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OData" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.1" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Minion" version="1.0.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net451" />
  <package id="MSBuildTasks" version="1.4.0.88" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NHibernate" version="3.4.0.4000" targetFramework="net451" />
  <package id="NHibernate.OData" version="0.5.1" targetFramework="net451" />
  <package id="NHibernate.Validator" version="1.3.2.4000" targetFramework="net451" />
  <package id="NHibernateProfiler.Appender" version="3.0.3052.0" targetFramework="net451" />
  <package id="NLog" version="4.3.5" targetFramework="net452" />
  <package id="NUnit" version="2.6.3" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Owin.Metrics" version="0.2.16" targetFramework="net451" />
  <package id="Polly" version="2.2.3" targetFramework="net451" />
  <package id="Swashbuckle" version="5.3.1" targetFramework="net452" />
  <package id="Swashbuckle.Core" version="5.3.1" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.0" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net451" />
  <package id="Thinktecture.IdentityModel.Core" version="1.4.0" targetFramework="net451" />
  <package id="Thinktecture.IdentityModel.Owin.BasicAuthentication" version="1.0.1" targetFramework="net451" />
  <package id="Thinktecture.IdentityModel.Owin.ClaimsTransformation" version="1.0.1" targetFramework="net451" />
  <package id="Thinktecture.IdentityModel.Owin.ResourceAuthorization" version="1.0.1" targetFramework="net451" />
  <package id="Thinktecture.IdentityModel.Owin.ResourceAuthorization.WebApi" version="3.0.0" targetFramework="net451" />
  <package id="Topshelf" version="4.0.1" targetFramework="net452" />
  <package id="Topshelf.Log4Net" version="4.0.1" targetFramework="net452" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net452" />
</packages>