<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="read" connectionString="server=uat-10-dbs,21433;database=workflow;Trusted_Connection=True;enlist=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="write" connectionString="server=uat-10-dbs,21433;database=workflow;Trusted_Connection=True;enlist=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="afper" connectionString="server=uat-10-dbs,21433;database=afper;Trusted_Connection=True;enlist=False" xdt:Transform="Insert" />
    <add name="host" connectionString="server=uat-10-dbs,21433;initial catalog=workflow;ApplicationIntent=ReadOnly;Application Name=WorkflowReader;Trusted_Connection=True;enlist=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <clientConfiguration>
    <serviceEndpoints>
      <add name="crm" baseAddress="https://uat-crm.intelliflo.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="workflow" baseAddress="https://uat-workflow.intelliflo.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="eventmanagement" baseAddress="https://uat-webhooks.intelliflo.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
      <add name="portfolio" baseAddress="https://uat-portfolio.intelliflo.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
      <add name="nio" baseAddress="https://www.uat.site10.intelligent-office.net/nio/rest/" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <add name="author" baseAddress="https://uat-author.intelliflo.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </serviceEndpoints>
  </clientConfiguration>
  <enyim.com>
    <memcached>
      <servers xdt:Transform="Replace">
        <add address="172.20.42.1" port="11211" />
        <add address="172.20.42.2" port="11211" />
      </servers>
    </memcached>
  </enyim.com>
  <ResourceServerIdentityConfiguration IssuerName="https://idsrv3.com" SigningCertificateSubject="Intelliflo Plc" IdentityServerBaseUrl="https://uat-identity.uat-mypfp.co.uk" xdt:Transform="SetAttributes" />
  <!-- AWS SDK config. Defines how we authorize to AWS  -->
  <!--profilesLocation="C:\aws_service_credentials\credentials"-->
  <aws profileName="uat-microservice" profilesLocation="C:\aws_service_credentials\uat-credentials.txt" xdt:Transform="SetAttributes" />
  <!-- Microservice settings for specifying supported AWS regions -->
  <AwsSettingsConfiguration AwsRegions="eu-west-1, eu-central-1" xdt:Transform="SetAttributes" />
  <applicationSettings>
    <Microservice.Workflow.Properties.Settings>
      <setting name="DatabaseObjectsFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>../database</value>
      </setting>
      <setting name="DataScriptFolder" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>../database/Data</value>
      </setting>
      <setting name="Service" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>Workflow</value>
      </setting>
      <setting name="Instance" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>10</value>
      </setting>
      <setting name="Environment" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>uat</value>
      </setting>
      <setting name="BaseAddress" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>http://*:30008/</value>
      </setting>
      <setting name="AltBaseAddress" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <value>https://uat-workflow.intelliflo.com/</value>
      </setting>
    </Microservice.Workflow.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="enableHibernateProfiler" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="enableHibernateProfilerStackTrace" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="client.certificate.default.subjectname" value="Intelliflo Plc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="db.timeout" value="30" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClientSettingsProvider.ServiceUri" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="AWSProfileName" value="dev" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="cache.use" value="memcached" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <sqlWorkflowInstanceStore connectionStringName="afper" xdt:Transform="Insert"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <log4net xdt:Transform="Replace">
    <appender name="RemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
      <facility value="local3" />
      <layout type="IntelliFlo.Platform.Logging.CustomPatternLayout, IntelliFlo.Platform.Logging">
        <IgnoresException value="False" />
        <conversionPattern value="a_level=%level, a_logger=%logger, a_time=%quot%utcdate%quot, a_sub=%quot%property{subject}%quot, a_uid=%quot%property{userId}%quot, a_tid=%quot%property{tenantId}%quot, a_rid=%quot%property{correlationId}%quot,  a_errid=%quot%property{errorId}%quot, a_aname=%quot%property{assemblyName}%quot, a_aver=%quot%property{assemblyVersion}%quot, a_thread=%quot%thread%quot, a_type=%quot%type%quot, a_met=%quot%method%quot, a_msg=%quot%message%quot, a_stack=%quot%stack%quot  %newline " />
      </layout>
      <remoteAddress value="logger.intelliflo.com" />
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RemoteSyslogAppender" />
    </root>
    <logger name="NHibernate">
      <level value="WARN" />
    </logger>
  </log4net>

</configuration>